<div class = 'sidebar'>
	<form>
		<label for='search'>Search for Item</label>		
		<input type='text' name='search'>
		<input type='submit'>
	</form>
	<button>Walmart</button>
	<button>Amazon</button>
	<button>Target</button>
</div>
<div class = 'walmart'>
</div>
<div class = 'amazon'>
</div>
<div class = 'target'>
</div>