.header1 {
	display: inline-block;
	background-color: green;
	box-sizing: border-box;
	width: 88%;
}
.header2{
	background-color: red;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 8%;
}

input {
	display: block;
}

.password {
	/*margin-bottom: 1em;*/
}

.submit {
	display: inline-block;
	box-sizing: border-box;	
}

.register {
	/*margin-left: 4em;*/
}

.navigation_bar {
	background-color: orange;
}

li {
	display: inline-block;
	margin-right: 9%
}

.li3 {
	margin-right: 60%	
}

.sidebar {
	width: 15%;
	height: 50em;
	background-color: lightblue;
	display: inline-block;
}

.sidebar form {
	margin-bottom: 1em;
}

.sidebar button {
	width: 31%;
	margin-left: 2px;
	display: inline-block;
} 

.walmart,
.target,
.amazon {
	width: 27.6%;
	border: 1px black solid;
	display: inline-block;
	vertical-align: top;
	height: 50em;
}